.similar-image img {
	max-height: 200px;
	max-width: 200px;
}

.record-grid {
	display: grid;
	grid-template-columns:520px 1fr;
	gap: 50px 10px;
	margin-bottom: 1.5rem;
}

.similar-grid {
	display: grid;
	grid-template-columns: 220px 1fr;
	gap: 50px 10px;
}

.attributes {
	font-size:small;
	font-family:monospace;
}

#similar-controls {
	display:none;
	margin-bottom: 1.5rem;
}

#list-controls {
	margin-bottom: 2rem;
	display:none;
}

#model-select {
	display:none;
}

.hey-look {
	font-weight: 700;
}

.pagination {
	justify-content: center;
}

.pagination-el {
	padding: .5rem;
	padding-left: 1rem;
	padding-right: 1rem;	
	border: 1px solid #ccc;
	margin-left: .5rem;
	margin-right: .5rem;
}

.pagination-el a {
	text-decoration: none;
}

.pagination-rollup {
	text-align:center;
	font-style:italic;
	margin-top:1rem;
}

#progress {
	display: none;
}
