
@keyframes rotate {
        from { transform: rotate(0deg); }
        to { transform: rotate(360deg); }
}

@keyframes rotate-ccw {
        from { transform: rotate(0deg); }
        to { transform: rotate(-360deg); }
}

#upload-spinner {
        animation: rotate 5s linear infinite;
        transform-origin: center;
}

#upload-spinner-svg {
        display:none;
        margin-left:.5rem;
}

.similar-image img {
	max-height: 200px;
	max-width: 200px;
}

.record-image img {
	max-height: 500px;
	max-width: 500px;
}

.record-grid {
	display: grid;
	grid-template-columns:520px 1fr;
	gap: 50px 10px;
	margin-bottom: 1.5rem;
}

.similar-grid {
	display: grid;
	grid-template-columns: 220px 1fr;
	gap: 50px 10px;
}

#upload-grid {
	display: grid;
	grid-template-columns: 520px 1fr;
	gap: 50px 10px;
	margin-bottom: 1.5rem;
}

#upload-image {
	border: 1px solid #000;
	display:flex;
	justify-content:center;
	max-height:300px;
	max-width:500px;
}

#upload-image img {
	max-height:300px;
	max-width:500px;
}

.similar-table td {
	vertical-align: top !important;
	padding: .5rem;
	padding-left: 0;
}

.attributes {
	min-width: fit-content;
	table-layout:fixed;
	font-size:small;
	font-family:monospace;
	
}

.attributes td {
	vertical-align: top !important;
	padding: .5rem;
	padding-top: 0;
	word-break: break-all !important;
}

.attributes th {
	vertical-align: top !important;
	padding: .5rem;
	padding-top: 0;
	width: 30%;
}

.no-preview {
	font-style:italic;
}

#similar-controls {
	display:none;
	margin-bottom: 1.5rem;
}

#list-controls {
	margin-bottom: 2rem;
	display:none;
}

#model-select {
	display:none;
}

.hey-look {
	font-weight: 700;
}

.pagination {
	justify-content: center;
}

.pagination-el {
	padding: .5rem;
	padding-left: 1rem;
	padding-right: 1rem;	
	border: 1px solid #ccc;
	margin-left: .5rem;
	margin-right: .5rem;
}

.pagination-el a {
	text-decoration: none;
}

.pagination-rollup {
	text-align:center;
	font-style:italic;
	margin-top:1rem;
}

#progress {
	display: none;
}

#summary {
	margin-bottom: 1rem;
	font-style: italic;
}
